body{
  background-color: #C2FFFF;
}

h1 {
  border:2px solid;
  display:inline-block;
  font-size:70px;
}

h2 {
  text-decoration:underline;
  display:inline-block;
}

p {
  font-family:Verdana;
}

.side-image {
  display:inline-block;
  margin:auto;
  margin-left: 300px;
}

h4 {
  font-style:italic;
}

#box {
  border: solid green;
  display:block;
}

.input_line{
  margin-top:-3px;
  margin-bottom:-3px;
  color:red;
}

.input_codeblock{
color:white;
background: black;
border: solid red;
width:500px;
font-family: Consolas, Monaco, "Lucida Console";
font-size: 13px;
}

.output_line{
  margin-top:-3px;
  margin-bottom:-3px;
  color:yellow;
}

.output_codeblock{
color:#00FF00;
background: black;
border: solid yellow;
width:500px;
display:block;
font-family: Consolas, Monaco, "Lucida Console";
font-size: 13px;
margin-bottom: 30px
}



