h1{
  color:navy;
  background-color: yellow;
  text-align: center;
  font-size: 80px;

}

h2{
  text-decoration: underline;
}

p{
  color:red;
  font-size:30px;
}

div1{
  position: relative;
  float: left;
  width:400px;

}

div2{
  position: relative;
  float: left;
  width: 400px;
  left: 60px;
}

div3{
  position: absolute;
  float: left;
  bottom: 0%;
  width: 100px;
  margin-bottom: 2%;
top: 1000px;
}

#portrait{
  position: absolute;
  left: 700px;
}